{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'empresa/css/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'general/css/main.css' %}">
<div id="contenido">
<h1><p>MENU PRINCIPAL</p></h1>

<p><a href="indexbodega">Bodegas</a></p>
<p><a href="indexproducto">Productos</a></p>
<p><a href="indexempresa">Empresas</a></p>
<p><a href="indexpersona">Personas</a></p>
<p><a href="asignproductobodega">Asignacion de producto a bodega</a></p>

<br>
</div>
<script src="{% static 'general/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'empresa/js/create.js' %}"></script>