
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'producto/css/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'general/css/main.css' %}">
<div id="contenido">
<h1>Crear Empresa</h1>
<p><a href="indexempresa"><- Regresar</a></p>
{% if error_message %}
	<p><strong>{{ error_message }}</strong></p>
{% endif %}
<form>
	<fieldset style="border: 0px;" >
	{% csrf_token %}
	<table cellspacing="5" style="margin: 0 auto">
	
	<tr>
		<td>Nombre Comercial</td>	
		<td><input type="text" value="" id="nombre_comercial_empresa" size="30"></td>
	</tr>
	<tr>
		<td>Razón Social</td>	
		<td><input type="text" value="" id="razon_social_empresa" size="30"></td>
	</tr>
	</table><br>	
	<center><input style='width:100px; height:32px' id="insert_empresa" type="button" value="AÑADIR"></center>
</form>
</div>
<script src="{% static 'general/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'empresa/js/create.js' %}"></script>