{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'empresa/css/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'general/css/main.css' %}">
<div id="contenido">
<h1 align="center">EMPRESAS EXISTENTES</h1>
<a href="indexprincipal">Regresar al Menú</a>
{% if empresas %}
    <table border="1" align="center" cellpadding="12 px">
    <tr align="center">
    		<td>NOMBRE COMERCIAL</td>
    		<td>RAZÓN SOCIAL</td>
    		
   	</tr>
    {% for empresa in empresas %}

        <tr>

            <td><a href="/inventario/{{empresa.id}}/updateempresa">{{empresa.emp_nombre_comercial}}</a></td>
            <td>{{empresa.emp_razon_social}}</td>
            
            

        </tr>
    {% endfor %}
    <br><br>
    
    </table><br>
    <a href="createempresa">Crear empresa -></a><br>
{% else %}
    <p>No hay empresas disponibles.</p>
{% endif %}
<br>
</div>

<script src="{% static 'general/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'empresa/js/create.js' %}"></script>