
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'general/css/main.css' %}">	
<div id="contenido">
<h1>Crear Bodega</h1>
<p><a href="indexbodega"><- Regresar</a></p>
{% if error_message %}
	<p><strong>{{ error_message }}</strong></p>
{% endif %}

<form>
<fieldset style="border: 0px;" >
	{% csrf_token %}
	<table cellspacing="5" style="margin: 0 auto">
      
  <tr>

    <td>Nombre	</td>

    <td><input type="text" value="" id="nombre_bodega" size="30"></td>

  </tr>

  <tr>

    <td><span>Dimension</span>	</td>

    <td><input type="text" value="" id="dimension_bodega" size="30"></td>
  
  </tr>

   <tr>

    <td><span>Ubicacion</span></td>

    <td><input type="text" value="" id="ubicacion_bodega" size="30"></td>
  
  </tr>

   <tr>

    <td><span>Capacidad</span>	</td>

    <td><input type="text" value="" id="capacidad_bodega" size="30"></td>
  
  </tr>
        <input type="hidden" value=0 id="total_prod_bodega">
</table>
	<center><input style='width:80px; height:32px' id="insert_bodega" type="button" value="Grabar"></center>
</fieldset>
</form>
</div>
<script src="{% static 'general/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'bodega/js/create.js' %}"></script>

