{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bodega/css/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'general/css/main.css' %}">
<div id="contenido">
<h1 align="center">BODEGAS EXISTENTES</h1>
<a href="indexprincipal">Regresar al Menú</a>
{% if bodegas %}
    <table border="1" align="center" cellpadding="12 px">
    <tr align="center">
    		<td>NOMBRE</td>
    		<td>DIMENSION</td>
    		<td>UBICACION</td>
    		<td>CAPACIDAD</td>
    		<td>TOTAL DE PRODUCTOS</td>
    	</tr>
    {% for bodega in bodegas %}

        <tr>

            <td><a href="/inventario/{{bodega.id}}/updatebodega">{{bodega.bode_nombre}}</a></td>
            <td>{{bodega.bode_dimension}}</td>
            <td>{{bodega.bode_ubicacion}}</td>
            <td>{{bodega.bode_capacidad}}</td>
            <td>{{bodega.bode_total_prod}}</td>

        </tr>
    {% endfor %}
    <br><br>
    
    </table><br>
    <a href="createbodega">Crear bodega -></a><br>
{% else %}
    <p>No hay bodegas disponibles.</p>
{% endif %}
<br>
</div>

<script src="{% static 'general/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'bodega/js/create.js' %}"></script>