{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'general/css/main.css' %}">
<div id="contenido">
<h1><p>Actualizar Bodega</p></h1>

<p><a href="../indexbodega"><- Regresar </a></p>

{% if error_message %}
	<p><strong>{{ error_message }}</strong></p>
{% endif %}
<form>
	<fieldset style="border: 0px;" >
	{% csrf_token %}
	<input type="hidden" value="{{ bodega.id }}" id="id_bodega">
	<table cellspacing="5" style="margin: 0 auto">
	<tr>
		<td><span>Nombre</span></td>	
		<td><input type="text" value="{{ bodega.bode_nombre }}" id="nombre_bodega" size="30"></td>
	</tr>
	<tr>
		<td><span>Dimension</span></td>
		<td><input type="text" value="{{ bodega.bode_dimension }}" id="dimension_bodega" size="30"></td>
	</tr>
	<tr>
		<td><span>Ubicacion</span></td>	
		<td><input type="text" value="{{ bodega.bode_ubicacion }}" id="ubicacion_bodega" size="30"></td>
	</tr>
	<tr>
		<td><span>Capacidad</span></td>	
		<td><input type="text" value="{{ bodega.bode_capacidad }}" id="capacidad_bodega" size="30"></td>
	</tr>
	<tr>
		<td><span>Cantidad de Productos</span></td>	
		<td><input type="text" value="{{ bodega.bode_total_prod }}" id="total_prod_bodega" size="30"></td>
	</tr>
</table>
	<center><input style='width:80px; height:32px' id="update_bodega" type="button" value="Grabar"></center><br>
</form>

<script src="{% static 'general/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'bodega/js/update.js' %}"></script>