
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'producto/css/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'general/css/main.css' %}">
<div id="contenido">
<h1>Crear Persona</h1>
<p><a href="indexpersona"><- Regresar</a></p>
{% if error_message %}
	<p><strong>{{ error_message }}</strong></p>
{% endif %}
<form>
	<fieldset style="border: 0px;" >
	{% csrf_token %}
	<table cellspacing="5" style="margin: 0 auto">
	<tr>
		<td>Nombre</td>	
		<td><input type="text" value="" id="nombre_persona" size="30"></td>
	</tr>
	<tr>
		<td>Apellido</td>	
		<td><input type="text" value="" id="apellido_persona" size="30"></td>
	</tr>
	<tr>
		<td>Fecha de Nacimiento</td>	
		<td><input type="text" value="" id="fecha_nacimiento_persona" size="30"></td>
	</tr>
	</table>
	<center><input style='width:100px; height:32px' id="insert_persona" type="button" value="INGRESAR"></center>
</form>
</div>
<script src="{% static 'general/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'persona/js/create.js' %}"></script>