{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'persona/css/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'general/css/main.css' %}">
<div id="contenido">
<h1 align="center">PERSONAS EXISTENTES</h1>
<a href="indexprincipal">Regresar al Menú</a>
{% if personas %}
    <table border="1" align="center" cellpadding="12 px">
    <tr align="center">
    		<td>NOMBRE</td>
    		<td>APELLIDO</td>
    		<td>FECHA NACIMIENTO</td>
   	</tr>
    {% for persona in personas %}

        <tr>

            <td><a href="/inventario/{{persona.id}}/updatepersona">{{persona.per_nombre}}</a></td>
            <td>{{persona.per_apellido}}</td>
            <td>{{persona.per_fecha_nacimiento}}</td>
            

        </tr>
    {% endfor %}
    <br><br>
    
    </table><br>
    <a href="createpersona">Crear persona -></a><br>
{% else %}
    <p>No hay personas disponibles.</p>
{% endif %}
<br>
</div>

<script src="{% static 'general/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'persona/js/create.js' %}"></script>

