{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'general/css/main.css' %}">
<div id="contenido">
<h1>Actualizar Persona</h1>

<p><a href="../indexpersona"><- Regresar</a></p>

{% if error_message %}
	<p><strong>{{ error_message }}</strong></p>
{% endif %}
<form>
	<fieldset style="border: 0px;" >
	{% csrf_token %}
	<input type="hidden" value="{{ persona.id }}" id="id_persona" size="30">
	<table cellspacing="5" style="margin: 0 auto">
	<tr>
		<td>Nombre</td>	
		<td><input type="text" value="{{ persona.per_nombre }}" id="nombre_persona" size="30"></td>
	</tr>
	<tr>
		<td>Apellido</td>	
		<td><input type="text" value="{{ persona.per_apellido }}" id="apellido_persona" size="30"></td>
	</tr>
	<tr>
		<td>Fecha de Nacimiento</td>	
		<td><input type="text" value="{{ persona.per_fecha_nacimiento }}" id="fecha_nacimiento_persona" size="30"></td>
	</tr>
	</table><br>
	<center><input style='width:80px; height:32px' id="update_persona" type="button" value="Actualizar"></center>
</form>
</div>
<script src="{% static 'general/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'persona/js/update.js' %}"></script>