
body {
	
	margin: 0px;
	text-align: justify;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: large;
	color: #333333;
}

html{
	background: url("/static/images/bk.jpg") center center no-repeat ;
	min-height: 100%;
	background-size: cover;
}

#contenido {
	background: #ADD8E6;
	width: 600px;
	margin: 0px auto;
	padding: 2px 0px 0px 0px;
}

p{
	width:"90%";
	border: 0;
	text-align: center;
}

h1, h2{
	text-align: center;
}

#a{
	font-size: small;	
}

table{
	cellspacing="10";
	border="0"; 
	style="margin: 0 auto;
}