{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'producto/css/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'general/css/main.css' %}">
<div id="contenido">
<h2>ASIGNACIÓN PRODUCTOS A BODEGA</h2>
<p><a href="createproducto">Crear producto</a></p>
<p><a href="createbodega">Crear Bodega</a></p>
<p><a href="indexprincipal">MENU PRINCIPAL</a></p>
<table cellspacing="5" style="margin: 0 auto">
{% if bodegas %}

<tr>
    <td>Bodegas:</td>
    <td><select id="id_bodega"> 
    {% for bodega in bodegas %}
    	<option value="{{bodega.id}}">{{bodega.bode_nombre}}</option>
    	
    {% endfor %}
    </select></td>
</tr>
{% endif %}

{% if productos %}
<tr>
    <td>Productos:</td>	
    <td><select id="id_producto">
    {% for producto in productos %}
    	<option value="{{producto.id}}">{{producto.prod_nombre}}</option>
    {% endfor %}
    </select></td>
</tr>
<tr>
    <td>Cantidad de Productos a asignar:</td>
    <td><input type="text" value="" id="cantidad_productos_productobodega"></td>
</tr>
{% endif %}
</table>
<br>

<center><input style='width:80px; height:32px' id="asignar_producto_bodega" type="button" value="ASIGNAR"></center><br>
</div>
<script src="{% static 'general/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'producto_bodega/js/asign.js' %}"></script>