{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'general/css/main.css' %}">

<h1>Mantenimiento de Productos y Bodegas</h1>
<br/>
<br/>
<a href="/inventario/createbodega"> + Crear bodega</a>
<br/>
<a href="/inventario/createproducto"> + Crear producto</a>
<br/>
<a href="/inventario/asignproductobodega"> + Asingar Producto a Bodega</a>
<br/>

<table>
	<tr>
	    <th>Bodega</th>
	    <th>Producto</th>
	    <th>Fecha Asignacion</th>
  	</tr>  
	{% for probod in probods %}
  <tr>
    <th><a href = "/inventario/{{producto_id}}/updateproducto">{{ probod.prod_nombre }}</a></th>
    <th>{{ probod.bode_nombre }}</th>
    <th>{{ probod.pbod_fecha_asignacion }}</th>
  </tr>  
  {% endfor %}
</table>
