{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'producto/css/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'general/css/main.css' %}">
<div id="contenido">
<h1>Crear Producto</h1>
<p><a href="indexproducto"><- Regresar</a></p>
{% if error_message %}
	<p><strong>{{ error_message }}</strong></p>
{% endif %}

<form>
<fieldset style="border: 0px;" >
	{% csrf_token %}
	<table cellspacing="5" style="margin: 0 auto">
	<tr>
		<td>Nombre</td>	
		<td><input type="text" value="" id="nombre_producto" size="30"></td>
	</tr>
	<tr>
		<td>Peso</td>	
		<td><input type="text" value="" id="peso_producto" size="30"></td>
	</tr>
	<tr>
		<td>Tamaño</td>	
		<td><input type="text" value="" id="tamanio_producto" size="30"></td>
	</tr>
	<tr>
		<td>Precio</td>	
		<td><input type="text" value="" id="precio_producto" size="30"></td>
	</tr>
	</table>
	<center><input style='width:100px; height:32px' id="insert_producto" type="button" value="INGRESAR"></center>
</form>
</div>
<script src="{% static 'general/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'producto/js/create.js' %}"></script>