{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'producto/css/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'general/css/main.css' %}">
<div id="contenido">
<h1>Productos Existentes</h1>
<a href="indexprincipal">Regresar al Menú</a>
<br><br>

{% if productos %}
    <table border="1" align="center" cellpadding="12 px">
    <tr align="center">
    		<td>NOMBRE</td>
    		<td>PESO</td>
    		<td>TAMAÑO</td>
    		<td>PRECIO</td>
    	</tr>
    {% for producto in productos %}
    	
        <tr>
            <td><a href="/inventario/{{producto.id}}/updateproducto">{{producto.prod_nombre}}</a></td>
    		<td>{{producto.prod_peso}}</td>
    		<td>{{producto.prod_tamanio}}</td>
    		<td>{{producto.prod_precio}}</td>
    		
    	</tr>
    {% endfor %}
    </table><br>
    <a href="createproducto">Crear Producto -></a><br>

{% else %}
    <p>No hay productos disponibles.</p>
{% endif %}
<br>
</div>
<script src="{% static 'general/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'producto/js/create.js' %}"></script>